<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1020076908668-43pbvhh6m8kbo2lh99hv1ks63po594u4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1020076908668-43pbvhh6m8kbo2lh99hv1ks63po594u4</string>
	<key>API_KEY</key>
	<string>AIzaSyAFY_MxrKF4HpfQ-L8hLrcaq4L9qCVSShI</string>
	<key>GCM_SENDER_ID</key>
	<string>1020076908668</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.testProject</string>
	<key>PROJECT_ID</key>
	<string>testfirebase-5ce5b</string>
	<key>STORAGE_BUCKET</key>
	<string>testfirebase-5ce5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1020076908668:ios:4774492b243fe582</string>
	<key>DATABASE_URL</key>
	<string>https://testfirebase-5ce5b.firebaseio.com</string>
</dict>
</plist>