<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>groceries</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.googleusercontent.apps.1020076908668-43pbvhh6m8kbo2lh99hv1ks63po594u4</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1020076908668-43pbvhh6m8kbo2lh99hv1ks63po594u4</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>org.reactjs.native.example.groceries</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>org.reactjs.native.example.groceries</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UIAppFonts</key>
	<array>
		<string>fontello.ttf</string>
		<string>KoHo-Bold.ttf</string>
		<string>KoHo-BoldItalic.ttf</string>
		<string>KoHo-ExtraLight.ttf</string>
		<string>KoHo-ExtraLightItalic.ttf</string>
		<string>KoHo-Italic.ttf</string>
		<string>KoHo-Light.ttf</string>
		<string>KoHo-LightItalic.ttf</string>
		<string>KoHo-Medium.ttf</string>
		<string>KoHo-MediumItalic.ttf</string>
		<string>KoHo-Regular.ttf</string>
		<string>KoHo-SemiBold.ttf</string>
		<string>KoHo-SemiBoldItalic.ttf</string>
		<string>Merriweather-Black.ttf</string>
		<string>Merriweather-BlackItalic.ttf</string>
		<string>Merriweather-Bold.ttf</string>
		<string>Merriweather-BoldItalic.ttf</string>
		<string>Merriweather-Italic.ttf</string>
		<string>Merriweather-Light.ttf</string>
		<string>Merriweather-LightItalic.ttf</string>
		<string>Merriweather-Regular.ttf</string>
		<string>Oswald-Bold.ttf</string>
		<string>Oswald-ExtraLight.ttf</string>
		<string>Oswald-Light.ttf</string>
		<string>Oswald-Medium.ttf</string>
		<string>Oswald-Regular.ttf</string>
		<string>Oswald-SemiBold.ttf</string>
		<string>PoorStory-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
